* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

ul,
ol {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.clr {
    clear: both;
}

/* end of common css */
/* start of header */
.header {
    /* background: rgba(0, 0, 0,0.5);
    border-bottom: 1px solid black; */
    background: url(../image/bg-image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);

}

.header .main {
    width: 100%;
    height: auto;
    padding: 20px 0;
    /* background: rgba(0, 0, 0,0.5); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header .main .logo {
    width: 20%;
    float: left;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0 0 0 8px;
}

.header .main .logo img {
    height: auto;
    max-width: 40%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header .main .menu {
    width: 60%;
    float: left;
}

.header .main .menu .box1 {
    width: 30%;
    margin: 0 20px 0 250px;
    float: left;
    color: white;
    font-weight: 400;
}

.header .main .menu .box2 {
    width: 30%;
    margin: 0 10px;
    float: left;
    color: white;
    font-weight: 400;
}

.header .main .menu .icon {
    width: 20%;
    float: left;
    color: #ffcc00;

}

.header .main .menu .icon i {
    font-size: 30px;
}

.header .main .menu .details {
    width: 80%;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: white;
    float: left;
}

.header .main .icons {
    width: 20%;
    float: left;
    text-align: center;
    text-align: center;
    margin: 0 -15px;
}

.header .main .icons ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
}

.header .main .icons ul li a {
    font-size: 20px;
    color: white;

}

.header .main .icons ul li a i {
    transition: all linear .3s;
}

.header .main .icons ul li a:hover i {
    color: #ffcc00;
    transform: rotate(-360deg);
}

.header .menu-option {
    width: 100%;
    padding: 25px 0px 0 0;
}

.header .menu-option .main-menu {
    width: 70%;
    float: left;
}

.header .menu-option .main-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0px;
}

.header .menu-option .main-menu ul li a {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0px;
    color: #ffffff;
    position: relative;
}

.header .menu-option .main-menu ul li a:hover .overlay {
    width: 100%;
}

.header .menu-option .main-menu ul li a .overlay {
    position: absolute;
    height: 0%;
    width: 0%;
    top: 0;
    margin: 25px 0 0 0;
    left: 0;
    transition: all linear .2s;
    z-index: 0;
    border-bottom: 2px solid #ffcc00;
}

.header .menu-option .main-menu ul li i {
    color: #ffff;
    margin: 0 0 0 5px;
    font-size: 10px;
}

.header .menu-option .main-menu ul li a i {
    color: #ffffff;
    font-size: 14px;
}

.header .menu-option .call {
    width: 30%;
    float: left;
    text-align: right;
}

.header .menu-option .call h5 {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
}

.header .menu-option .call p {
    font-weight: 700;
    font-size: 22px;
    color: #ffcc00;
}

.header .container .title {
    padding: 120px 0px 0 25px;
}

.header .container .title p {
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
    padding: 0 472px 0 0;
}

.header .container .title .box {
    width: 200px;
    float: left;
    padding: 10px 0 270px 0;
}

.header .container .title .box a .border {
    border-bottom: 1px solid white;
    float: left;
    width: 25px;
    padding: 12px 0px 0 0;
    margin: 0 25px 0 0;
    transition: all linear .18s;
}

.header .container .title .box a {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0px;
    transition: all linear .2s;
}

.header .container .title .box a:hover {
    color: #ffcc00;
}

.header .container .title .box a:hover .border {
    width: 40px;
    margin: 0 30px 0 0;
}

/* end of header */
/* start of banner1 */
.banner1 {
    background: #000016;
    border-bottom: 1px solid #ffcc00;
    padding: 100px 0px 0 0;
}

.banner1 .box {
    margin: 0 0 0 25px;
}

.banner1 .box h5 {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner1 .box p {
    color: white;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 10px 251px 0 0;
    line-height: 1.4em;

}

.banner1 .main-box {
    margin: 100px 30px;
}

.banner1 .main-box .box2 {
    width: 20%;
    padding: 10px 10px;
    margin: 0 17px;
    transition: all linear .3s;
    float: left;
    text-align: center;
}

.banner1 .main-box .box2:hover {
    box-shadow: 0px 0px 20px -1px rgba(255, 255, 255, 0.5);
}

.banner1 .main-box .box2 i {
    color: #ffcc00;
    font-size: 60px;
    padding: 0px 0 20px 0;
    transition: all linear .2s;
}

.banner1 .main-box .box2 h4 {
    color: white;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 0 0 20px 0;
    line-height: 1.3em;
}

.banner1 .main-box .box2 p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins", Sans-serif;
}

.banner1 .main-box .box2:hover i {
    transform: rotateY(180deg);
}

/* end of banner1 */
/* start of banner2 */
.banner2 {
    background: #ffffff;
    border-top: 1px solid rgba(255, 204, 0, 0.5);
    padding: 100px 0px 100px 0;
    position: relative;
}

.banner2 .title h5 {
    /* color: rgba(255, 255, 255, 0.7); */
    color: rgba(0, 0, 0, 0.5);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner2 .title p {
    color: black;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 10px 490px 0 0;
    line-height: 1.4em;

}

.banner2 .bg-image {
    background: url(../image/rawpixel-682403-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 290px 0px;
    margin: 50px 0 50px 0;
}

.banner2 .bg-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.banner2 .bg-image .overlay .main .detail {
    width: 69%;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.banner2 .bg-image .overlay .main .detail a h4 {
    color: white;
    text-align: right;
    font-size: 35px;
    margin: 185px 40px 0 500px;
    font-weight: 300;
    font-family: "Poppins", Sans-serif;
    transition: all linear .3s;
}

.banner2 .bg-image .overlay .main .detail a h4:hover {
    color: #ffcc00;
}

.banner2 .bg-image .overlay .main .detail p {
    font-size: 16px;
    text-align: right;
    padding: 30px 40px 81px 453px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins", Sans-serif;
}

.banner2 .bg-image .overlay .main .detail2 {
    width: 30%;
    float: left;
    position: relative;
}

.banner2 .bg-image .overlay .main .detail2:after {
    content: ' ';
    position: absolute;
    top: 150px;
    left: -9px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: white;
    transition: all linear .8s;
}

.banner2 .bg-image .overlay .main .detail2:hover::after {
    top: 450px;
    background: #ffcc00;


}

.banner2 .bg-image .overlay .main .detail2 ul {
    margin: 0px auto;
}

.banner2 .bg-image .overlay .main .detail2 ul li {
    list-style: none;
    margin: 0 0 23px 40px;

}

.banner2 .bg-image .overlay .main .detail2 ul li a {
    color: white;
    position: relative;
    transition: all linear .2s;
    font-family: "Poppins", Sans-serif;
    text-transform: capitalize;
}

.banner2 .bg-image .overlay .main .detail2 ul li a:hover {
    padding: 0 0 0 10px;
    color: #8b8b8b;

}

.banner2 .bg-image .overlay .main .detail2 ul li a:after {
    content: ' ';
    position: absolute;
    top: 12px;
    left: -15px;
    height: 1px;
    width: 5px;
    background: white;
    transition: all linear .2s;
}

.banner2 .bg-image .overlay .main .detail2 ul li a:hover::after {
    width: 15px;
}

.banner2 .bg-image .overlay .main .detail2 ul li i {
    margin: 70px 0;
    color: white;
}

/* end of banner2 */
/* about-part start */
.about {
    padding: 50px 0 10px 0;
    margin: 50px 0px;
    position: relative;
    border-top: 1px solid rgba(255, 204, 0, 0.3);
}

.about .title {
    text-align: center;
}

.about .title h2 {
    font-family: "Poppins", Sans-serif;
    text-transform: capitalize;
    position: relative;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: 400;
    color: #222;
    word-spacing: -1px;
    position: relative;
}

.about .title h2:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 44%;
    height: 4px;
    background: url(../image/tb2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
}

.about .main-box .box {
    width: 23%;
    margin: 50px 11px;
    position: relative;
    float: left;
    -webkit-box-shadow: 0px -21px 44px -34px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -21px 44px -34px rgba(0, 0, 0, 1);
    box-shadow: 0px -21px 44px -34px rgba(0, 0, 0, 1);
}

.about .main-box .box .overly {
    position: absolute;

    left: 0px;
    background: #ffcc00;

    bottom: 4px;
    width: 270px;
    height: 5px;

    transition: all linear .4s;
}

.about .main-box .box .overly .overlay-text {
    font-family: "Poppins", Sans-serif;
    color: white;
    text-align: center;
    display: none;
    transition: all linear .4s;
}

.about .main-box .box:hover .overly .overlay-text {
    display: block;
}


.about .main-box .box:hover .overly {
    height: 50px;
}

.about .main-box .box .overlay {
    margin: 6px 0 -7px 0px;
}


.about .ball1 {
    position: absolute;
    bottom: 0%;
    left: 45%;
    border: 1px solid silver;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    transition: all linear .3s;
}

.about .ball1:hover {
    background: #ffcc00;
}

.about .ball1 a i {
    padding: 18px 17px;
    color: rgba(0, 0, 0, 0.5);
}

.about .ball1 a:hover i {
    color: white;
}

.about .ball2 {
    position: absolute;
    bottom: 0%;
    left: 51%;
    border: 1px solid silver;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    transition: all linear .3s;
}

.about .ball2:hover {
    background: #ffcc00;
}

.about .ball2 a:hover i {
    color: white;
}

.about .ball2 a i {
    padding: 18px 17px;
    color: rgba(0, 0, 0, 0.5);
}

/* about-part end */